/* Caveat Latin, Google Fonts v23. License: public/fonts/Caveat-OFL.txt. */
@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/caveat-latin-400-normal.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
